{% extends 'base.html.twig' %}

{% block title %}Tareas index{% endblock %}

{% block body %}
    <h1>Tareas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Notas</th>
                <th>DateAdd</th>
                <th>DateEdit</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Fecha_limite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarea in entities %}
            <tr>
                <td>{{ tarea.id }}</td>
                <td>{{ tarea.notas }}</td>
                <td>{{ tarea.dateAdd ? tarea.dateAdd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tarea.dateEdit ? tarea.dateEdit|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tarea.titulo }}</td>
                <td>{{ tarea.descripcion }}</td>
                <td>{{ tarea.fechaLimite ? tarea.fechaLimite|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_tareas_show', {'id': tarea.id}) }}">show</a>
                    <a href="{{ path('app_tareas_edit', {'id': tarea.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tareas_new') }}">Create new</a>
{% endblock %}
