{# templates/estados/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Lista de Estados{% endblock %}

{% block body %}
    <h1>Lista de Estados</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.estado }}</td>
                <td>
                    <a href="{{ path('app_estados_show', {'id': entity.id}) }}">mostrar</a>
                    <a href="{{ path('app_estados_edit', {'id': entity.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se encontraron estados.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_estados_new') }}">Crear nuevo estado</a>
{% endblock %}