<!doctype html>
<html class="fixed">
<head>
    <meta charset="UTF-8">
    <title>App_Unitel</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/vendor/animate/animate.css">
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="/assets/vendor/owl.carousel/assets/owl.carousel.css" />
    <link rel="stylesheet" href="/assets/vendor/owl.carousel/assets/owl.theme.default.css" />
    <link rel="stylesheet" href="/assets/vendor/pnotify/pnotify.custom.css" />
    <link rel="stylesheet" href="/assets/css/theme.css" />
    <link rel="stylesheet" href="/assets/css/custom.css">
    <script src="/assets/vendor/modernizr/modernizr.js"></script>
</head>
<body>
    <section class="body">
        <header class="header">
            <div class="logo-container">
                <a href="{{ path('app_dashboard') }}" class="logo">
                    <img src="/assets/img/logo.png" width="75" alt="Porto Admin" />
                </a>
                <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>
            <div class="header-right">
                <span class="separator"></span>
                <div id="userbox" class="userbox">
                    <a href="#" data-bs-toggle="dropdown">
                        <figure class="profile-picture">
                            <img src="/assets/img/!logged-user.jpg" alt="Joseph Doe" class="rounded-circle" data-lock-picture="/assets/img/!logged-user.jpg" />
                        </figure>
                        <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
                            {% if app.user %}
                                <span class="name">{{ app.user.email }}</span>
                                <span class="role">{{ app.user.roles[0] }}</span>
                            {% else %}
                                <span class="name">Invitado</span>
                                <span class="role">No logueado</span>
                            {% endif %}
                        </div>
                        <i class="fa custom-caret"></i>
                    </a>
                    <div class="dropdown-menu">
                        <ul class="list-unstyled mb-2">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="{{ path('app_user_profile') }}"><i class="bx bx-user-circle"></i> Mi Perfil</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="{{ path('app_logout') }}"><i class="bx bx-power-off"></i> Cerrar sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="inner-wrapper">
            <aside id="sidebar-left" class="sidebar-left">
                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Navigation
                    </div>
                    <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>
                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">
                                <li>
                                    <a class="nav-link" href="{{ path('app_dashboard') }}">
                                        <i class="fas fa-tachometer-alt" aria-hidden="true"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-parent">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-chart-bar" aria-hidden="true"></i>
                                        <span>Gestión</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a class="nav-link" href="{{ path('app_list', {'entity': 'user'}) }}">
                                                <i class="fas fa-users"></i>
                                                Usuarios
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="{{ path('app_list', {'entity': 'customer'}) }}">
                                                <i class="fas fa-handshake"></i>
                                                Clientes
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="{{ path('app_list', {'entity': 'tareas'}) }}">
                                                <i class="fas fa-tasks"></i>
                                                Tareas <span class="badge badge-warning">En proceso</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="{{ path('app_list', {'entity': 'hilo'}) }}">
                                                <i class="fas fa-comments"></i>
                                                Hilos <span class="badge badge-warning">En proceso</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="{{ path('app_list', {'entity': 'estados'}) }}">
                                                <i class="fas fa-stream"></i>
                                                Estados <span class="badge badge-warning">En proceso</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                </ul>
                        </nav>
                        <hr class="separator" />
                    </div>
                    <script>
                        // Maintain Scroll Position
                        if (typeof localStorage !== 'undefined') {
                            (function($) {
                                'use strict';
                                var position = localStorage.getItem('sidebar-left-position');
                                if (position !== null) {
                                    $('.nano-content').scrollTop(position);
                                }
                            })(jQuery);
                        }
                    </script>
                </div>
            </aside>
            <section role="main" class="content-body">
                <header class="page-header">
                    <h2>{{ name|default('Panel de Control') }}</h2>
                </header>
                {% block body %}{% endblock %}
            </section>
        </div>
        <aside id="sidebar-right" class="sidebar-right">
            <div class="nano">
                <div class="nano-content">
                    <a href="#" class="mobile-close d-md-none">
                        Collapse <i class="fas fa-chevron-right"></i>
                    </a>
                    <div class="sidebar-right-wrapper">
                        <div class="sidebar-widget widget-messages">
                            <h6 class="mb-3">Mensajes</h6>
                            <div class="widget-content">
                                <ul class="list-unstyled">
                                    <li class="pb-1">
                                        <div class="text-secondary fw-bold">Juan Pérez</div>
                                        <a href="#">
                                            <small class="d-block text-muted line-height-200">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </small>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </section>
    <script src="/assets/vendor/jquery/jquery.js"></script>
    <script src="/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="/assets/vendor/popper/umd/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/assets/vendor/common/common.js"></script>
    <script src="/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="/assets/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="/assets/vendor/morris/morris.js"></script>
    <script src="/assets/vendor/liquid-meter/liquid.meter.js"></script>
    <script src="/assets/vendor/jqvmap/jquery.vmap.js"></script>
    <script src="/assets/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
    <script src="/assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
    <script src="/assets/vendor/pnotify/pnotify.custom.js"></script>
    <script src="/assets/vendor/jqvmap/maps/jquery.vmap.europe.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
    <script src="/assets/vendor/pnotify/pnotify.custom.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/assets/js/theme.init.js"></script>
    <script src="/assets/js/examples/examples.dashboard.js"></script>
</body>
</html>