{% extends 'base.html.twig' %}

{% block title %}Panel de Control{% endblock %}

{% block body %}
    <h1>Panel de Control</h1>

    <div class="row">
        <div class="col-md-6 col-lg-6">
            <section class="card card-featured-left card-featured-secondary mb-3">
                <div class="card-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-secondary">
                                <i class="fas fa-users"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Total de Usuarios</h4>
                                <div class="info">
                                    <strong class="amount">{{ totalUsers }}</strong>
                                </div>
                            </div>
                            <div class="summary-footer mt-2">
                                <a class="btn btn-outline-secondary btn-sm text-uppercase" href="{{ path('app_list', {'entity': 'user'}) }}">(Ver listado)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6 col-lg-6">
            <section class="card card-featured-left card-featured-primary mb-3">
                <div class="card-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-primary">
                                <i class="fas fa-handshake"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Total de Clientes</h4>
                                <div class="info">
                                    <strong class="amount">{{ totalCustomers }}</strong>
                                </div>
                            </div>
                            <div class="summary-footer mt-2">
                                <a class="btn btn-outline-primary btn-sm text-uppercase" href="{{ path('app_list', {'entity': 'customer'}) }}">(Ver listado)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6 col-lg-6">
            <section class="card card-featured-left card-featured-quaternary mb-3">
                <div class="card-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-quaternary">
                                <i class="fas fa-tasks"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Total de Tareas</h4>
                                <div class="info">
                                    <strong class="amount">{{ totalTareas }}</strong>
                                </div>
                            </div>
                            <div class="summary-footer mt-2">
                                <a class="btn btn-outline-quaternary btn-sm text-uppercase" href="{{ path('app_list', {'entity': 'tareas'}) }}">(Ver listado)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6 col-lg-6">
            <section class="card card-featured-left card-featured-tertiary mb-3">
                <div class="card-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-tertiary">
                                <i class="fas fa-comments"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Total de Hilos</h4>
                                <div class="info">
                                    <strong class="amount">{{ totalHilos }}</strong>
                                </div>
                            </div>
                            <div class="summary-footer mt-2">
                                <a class="btn btn-outline-tertiary btn-sm text-uppercase" href="{{ path('app_list', {'entity': 'hilo'}) }}">(Ver listado)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6 col-lg-6">
            <section class="card card-featured-left card-featured-info mb-3">
                <div class="card-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-info">
                                <i class="fas fa-info-circle"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Total de Estados</h4>
                                <div class="info">
                                    <strong class="amount">{{ totalEstados }}</strong>
                                </div>
                            </div>
                            <div class="summary-footer mt-2">
                                <a class="btn btn-outline-info btn-sm text-uppercase" href="{{ path('app_list', {'entity': 'estados'}) }}">(Ver listado)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}