{% extends 'base.html.twig' %}

{% block title %}Editar Usuario{% endblock %}

{% block body %}
    <h1>Editar Usuario</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.roles) }}
        {{ form_row(form.password) }}

        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    {{ form_end(form) }}
{% endblock %}