<!DOCTYPE html>
<html>
    <head>
        <title>Lista de Usuarios</title>
        
        {# Estilos CSS #}
        <link rel="stylesheet" href="{{ asset('assets/vendor/owl.carousel/assets/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/owl.carousel/assets/owl.theme.default.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/pnotify/pnotify.custom.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/magnific-popup/magnific-popup.css') }}">
        
    </head>
    <body>
        <header>
            {# Imagen de logo #}
            <img src="{{ asset('assets/img/logo.png') }}" alt="Logo de la App">
            
            {# Imagen de usuario #}
            <img src="{{ asset('assets/img/!logged-user.jpg') }}" alt="Usuario Logueado">
        </header>

        <h1>Lista de Usuarios</h1>

        {# Contenido de la página... #}

        {# Scripts JS #}
        <script src="{{ asset('assets/vendor/popper/umd/popper.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/style-switcher/style.switcher.localstorage.js') }}"></script>
        <script src="{{ asset('assets/vendor/owl.carousel/owl.carousel.js') }}"></script>
        <script src="{{ asset('assets/vendor/jquery-easypiechart/jquery.easypiechart.js') }}"></script>
    </body>
</html>